.Tooltip {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 8;
  display: flex;
  align-items: baseline;
  pointer-events: none;
}

.Title {
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.Title img {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
}

.Interval {
  font-size: 12px;
  margin: 0 16px;
  color: var(--color-font-sec);
}

.Info {
  display: flex;
  font-size: 14px;
}

.Ohlc {
  flex: 0 0 60px;
}

.Ohlc span:first-child:not(:last-child) {
  font-size: 8px;
  color: var(--color-font-sec);
  margin-right: 2px;
}

.OhlcGrowth span:last-child {
  margin-left: 8px;
}

.Green {
  color: var(--color-green);
}

.Red {
  color: var(--color-red);
}

@media screen and (max-width: 600px) {
  .Tooltip {
    flex-direction: column;
  }
  .Info {
    align-self: flex-start;
    margin-top: 8px;
  }
}
