.Menu {
  background-color: var(--color-paper);
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;
  padding: 0 8px;
}

.Stock {
  padding: 8px 0;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.Intervals {
  display: flex;
  padding: 0 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.Intervals a {
  padding: 8px;
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}

.Intervals a:hover,
.Stock:hover {
  background-color: var(--color-highlight);
  border-radius: 4px;
}

.Intervals a.Active {
  color: var(--color-highlight-text);
}

.Buttons {
  display: flex;
}

.Theme {
  width: 16px;
  height: 16px;
  padding: 8px;
  cursor: pointer;
}

.Theme use {
  fill: var(--color-font);
}

.List {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Indicators {
  position: fixed;
}
