.Menu {
  display: flex;
  align-items: center;
  background-color: var(--color-paper);
}
.Title {
  font-size: 18px;
  font-weight: 600;
  padding-left: 8px;
}
.Close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22px;
  height: 39px;
  display: none;
  padding: 0 8px;
}
.Small .Close {
  display: block;
}
