.Header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-paper);
  border-bottom: 1px solid var(--color-bg);
  font-size: 11px;
  padding: 0 8px 0 4px;
  top: 0;
}

.Header span {
  padding: 10px 0;
  cursor: pointer;
}

.Header div:first-child span {
  padding-left: 4px;
}

.Header span:hover {
  text-decoration: underline;
}
