.Header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-paper);
  border-bottom: 1px solid var(--color-bg);
  font-size: 11px;
  top: 0;
  height: 32px;
  z-index: 1;
}

.Header > div:nth-child(n + 2) span {
  padding: 6px 0 6px 8px;
}

.Header span {
  cursor: pointer;
}

.Header span:hover,
.Sorted {
  text-decoration: underline;
}
