.Clock {
  position: absolute;
  z-index: 2;
  right: 8px;
  bottom: calc(6px + var(--sab) / 2);
  padding-left: 4px;
  font-size: 11px;
  font-variant-numeric: tabular-nums;
  color: var(--color-font-sec);
  background-color: var(--color-paper);
}
